        @import url(../vendor/normalize.css);
        @import url(../fonts/fonts.css);
        .page {
            font-family: "Inter", "Arial", "sans-serif";
            font-style: normal;
            font-weight: 400;
            background-color: #000000;
            color: #FFFFFF;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -moz-text-size-adjust: 100%;
        }
        
        .page__container {
            max-width: 1280px;
            min-width: 320px;
            margin: 0 auto;
        }
        
        .page__header {
            max-width: 880px;
            box-sizing: border-box;
            margin: 0 auto;
            margin-bottom: 36px;
            padding: 45px 0 41px 0;
            border-bottom: 1px solid rgba(84, 84, 84, 0.7);
        }
        
        @media screen and (max-width: 1023px) {
            .page__header {
                max-width: 100%;
                padding: 28px 0 32px 27px;
            }
        }
        
        .header__logo {
            width: 142px;
            height: 33px;
        }
        
        @media screen and (max-width: 767px) {
            .header__logo {
                width: 104px;
                height: 24px;
            }
        }
        
        .page__content {
            max-width: 880px;
            margin: 0 auto;
        }
        
        @media screen and (max-width: 1023px) {
            .page__content {
                max-width: 70%;
            }
        }
        
        @media screen and (max-width: 829px) {
            .page__content {
                max-width: 100%;
                margin: 0 19px 0 19px;
            }
        }
        
        .profile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 47px;
        }
        
        @media screen and (max-width: 1023px) {
            .profile {
                flex-direction: column;
            }
        }
        
        .profile__container {
            display: flex;
        }
        
        @media screen and (max-width: 767px) {
            .profile__container {
                flex-direction: column;
                align-items: center;
            }
        }
        
        .profile__avatar {
            background: url(../images/photo-avatar.jpg) center / cover no-repeat;
            border-radius: 50%;
            width: 120px;
            height: 120px;
        }
        
        .profile__info {
            max-width: 550px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 30px;
        }
        
        @media screen and (max-width: 767px) {
            .profile__info {
                margin: 22px 0 0 0;
            }
        }
        
        .profile__name {
            display: flex;
            align-items: baseline;
        }
        
        .profile__title {
            font-weight: 500;
            font-size: 42px;
            line-height: 1.14;
            margin: 0;
            padding-right: 18px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        @media screen and (max-width: 767px) {
            .profile__title {
                font-size: 27px;
                line-height: 1.22;
                padding-right: 10px;
            }
        }
        
        .profile__subtitle {
            margin: 16px 0 0 0;
            font-size: 18px;
            line-height: 1.22;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        @media screen and (max-width: 767px) {
            .profile__subtitle {
                text-align: center;
                margin: 14px 0 0 0;
            }
        }
        
        .profile__edit-button {
            background-image: url(../images/edit-button.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 24px;
            height: 24px;
            background-color: #000000;
            border: 1px solid #FFFFFF;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.8s linear;
        }
        
        .profile__edit-button:hover {
            opacity: 0.6;
        }
        
        .profile__add-button {
            background-image: url(../images/add-button.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 150px;
            height: 50px;
            background-color: #000000;
            border: 2px solid #FFFFFF;
            border-radius: 2px;
            align-self: flex-end;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.8s linear;
        }
        
        .profile__add-button:hover {
            opacity: 0.6;
        }
        
        @media screen and (max-width: 1023px) {
            .profile__add-button {
                align-self: center;
                margin-top: 36px;
                width: 50%;
            }
        }
        
        @media screen and (max-width: 424px) {
            .profile__add-button {
                width: 100%;
            }
        }
        
        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
            gap: 20px 17px;
            padding-bottom: 67px;
        }
        
        .card {
            display: flex;
            flex-direction: column;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        .card__item {
            border-radius: 10px;
            background: #FFFFFF;
            overflow: hidden;
        }
        
        .card__image {
            width: 100%;
            padding-bottom: 100%;
        }
        
        .card__image_karachaevsk {
            background: url(../images/karachaevsk.jpg) center / cover no-repeat;
        }
        
        .card__image_elbrus {
            background: url(../images/elbrus.jpg) center / cover no-repeat;
        }
        
        .card__image_dombai {
            background: url(../images/dombai.jpg) center / cover no-repeat;
        }
        
        .card__image_kamchatka {
            background: url(../images/kamchatka.jpg) center / cover no-repeat;
        }
        
        .card__image_osetia {
            background: url(../images/osetia.jpg) center / cover no-repeat;
        }
        
        .card__image_sochi {
            background: url(../images/sochi.jpg) center / cover no-repeat;
        }
        
        .card__info {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin: 25px 21px 31px 21px;
        }
        
        .card__title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 0;
            margin-right: 20px;
            color: #000000;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.21;
        }
        
        .card__like-button {
            background: url(../images/like.svg) no-repeat center;
            width: 22px;
            height: 19px;
            border: none;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.8s linear;
        }
        
        .card__like-button:hover {
            opacity: 0.5;
        }
        
        .card__like-button_active {
            background-color: #000000;
        }
        
        .footer__copyright {
            font-size: 18px;
            line-height: 1.22;
            color: rgba(84, 84, 84, 1);
            margin: 0 0 60px 0;
        }
        
        @media screen and (max-width: 767px) {
            .footer__copyright {
                font-size: 14px;
                line-height: 1.21;
            }
        }
        
        .popup {
            display: none;
            align-items: center;
            justify-content: center;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
        }
        
        .popup_opened {
            display: flex;
        }
        
        .popup__container {
            box-sizing: border-box;
            width: 430px;
            padding: 36px;
            position: relative;
            border-radius: 10px;
            background: #FFFFFF;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
        }
        
        @media screen and (max-width: 767px) {
            .popup__container {
                width: 282px;
                padding: 25px 22px;
            }
        }
        
        .popup__title {
            font-weight: 900;
            font-size: 24px;
            line-height: 1.21;
            color: #000000;
            margin: 0 0 54px 0;
        }
        
        @media screen and (max-width: 767px) {
            .popup__title {
                font-size: 18px;
                line-height: 1.22;
                margin: 0 0 75px 0;
            }
        }
        
        .popup__form {
            display: flex;
            flex-direction: column;
        }
        
        .popup__label {
            display: none;
        }
        
        .popup__input {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            font-weight: inherit;
            font-size: 14px;
            line-height: 1.21;
            color: #000000;
            padding-bottom: 13px;
        }
        
        .popup__input_profession {
            margin-top: 30px;
        }
        
        .popup__save {
            background-color: #000000;
            color: #FFFFFF;
            border-radius: 2px;
            font-size: 18px;
            line-height: 1.22;
            text-align: center;
            border: none;
            width: 358px;
            height: 50px;
            margin: 48px 0 0 0;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.8s linear;
        }
        
        .popup__save:hover {
            opacity: 0.8;
        }
        
        @media screen and (max-width: 767px) {
            .popup__save {
                font-size: 14px;
                line-height: 1.21;
                width: 238px;
                height: 46px;
            }
        }
        
        .popup__close {
            background: url(../images/close-icon.svg) center / cover no-repeat;
            width: 32px;
            height: 32px;
            background-color: #000000;
            border: none;
            position: absolute;
            top: -40px;
            left: 100%;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.8s linear;
        }
        
        .popup__close:hover {
            opacity: 0.6;
        }
        
        @media screen and (max-width: 767px) {
            .popup__close {
                width: 20px;
                height: 20px;
                top: -36px;
                left: 262px;
            }
        }